<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= image_tag @profile.avatar.url(:thumb) %> <%= current_user.email %> Profile</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="panel-title">Caption</h3>
        <%= @profile.caption %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="panel-title">Gender</h3>
        <%= @profile.gender %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="panel-title">Age</h3>
        <%= @profile.age %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="panel-title">Location</h3>
        <%= @profile.location %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="panel-title">Bio</h3>
        <%= @profile.biography %>
      </div>
    </div>
    <%= link_to 'Edit', edit_user_profile_path(current_user[:id],current_user[:id]), class: 'btn btn-default' %>
  </div>
</div>